body {
	margin: 0px;
}

.header {
	height: 237px;
	text-align: center;
	background-image: url("http://www.pizzaflame.com/pf_HEADER_BG.png")

}
.redheader {
	color: #AC080A;
	font-weight: bold;
}
.greenheader {
	color: #065E2E;
}
.h3 {
	color: #AC080A;
}

    content {
		height: 400px;
		width: 1000px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
}
	.img {
		margin-left: auto;
		margin-right: auto;
		width: 960px;
	}
	.search {

		width: 970px;
		margin-right: auto;
		margin-left: auto;
		text-align: right;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-right: 12px;
	}

.content2 {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	margin-bottom: 20px;
	text-align: justify;
	margin-top: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
}

 .footer {
	background-color: #373737;
	text-align: center;
	height: 265px;
}
